* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(imagenes-comprimidas/fondo-proyecto.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100px;
	color: black;
}
::selection {
	background-color: black;
	color: orange;
}