* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url( https://static.vecteezy.com/system/resources/thumbnails/003/339/091/small_2x/contemporary-abstract-aesthetic-mountains-background-illustration-free-vector.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 500px;
	color: black;
}
::selection {
	background-color: black;
	color: orange;
}