
  /* media queries para mobile */
@media screen and (max-width: 720px) {
	.inicio__izquierda {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 600px;
	}
	.encabezado {
		font-size: 5px;
		font-weight: 20px;
		text-align: left;
		height: 150px;
	}
	.logo_encabezado {
		h1 {
			font-size: 15px;
		}
	}
	.input-1 {
		display: inline-block;
		text-align: center;
		font-size: small;
		padding-top: 20px;
	}
	.inicioo {
		color: black;
		min-height: 200px;
		display: flex;
	}
	.inicio__titulo {
		font-size: 30px;
		text-align: center;
		color: rgb(0, 0, 0);
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
	.menu {
		font-size: large;
		ul {
			display: inline-block;
			justify-content: center;
			text-align: center;
			list-style: none;
		}
	}
	.inicio__parrafo {
		font-size: 20px;
		text-align: center;
		padding-left: 15px;
	}
	.presentacion {
		width: 90%;
		height: 90%;
	}
	.suscribir {
		padding-top: 50px;
	}
	.fondoo {
		img {
			width: 120%;
			height: 120%;
			object-fit: cover;
		}
	}
}
@media screen and (max-width: 420px) {
	.encabezado {
		font-size: 5px;
		font-weight: 20px;
		text-align: left;
		height: 200px;
	}
	.container {
		justify-content: center;
		text-align: center;
	}
	.video {
		iframe {
			width: 100%;
			justify-content: center;
		}
	}
	.logo_encabezado {
		h1 {
			font-size: 15px;
		}
	}
	.input-1 {
		display: inline-block;
		text-align: center;
		font-size: small;
		padding-top: 20px;
	}
	.inicioo {
		color: black;
		min-height: 200px;
		display: flex;
		width: 100%;
	}
	.inicio__titulo {
		font-size: 30px;
		text-align: center;
		color: rgb(0, 0, 0);
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		padding-top: 180px;
	}
	.inicio__parrafo {
		font-size: 20px;
		text-align: center;
		padding-left: 15px;
	}
	.inicio__izquierda {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 520px;
	}
	.presentacion {
		width: 80%;
		height: 80%;
	}
	.menu {
		ul {
			display: inline-block;
			justify-content: center;
			text-align: center;
			list-style: none;
			text-align: left;
			display: grid;
		}
	}
	.suscribir {
		padding-top: 50px;
	}
	.fondoo {
		img {
			width: 120%;
			height: 120%;
			object-fit: cover;
		}
	}
	.container-img {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		display: block;
		padding: 20px;
		.box-img {
			img {
				height: 100%;
			}
		}
	}
	.box2 {
		display: none;
	}
	.pie-pagina {
		.grupo-1 {
			.imagenpit {
				position: absolute;
				padding-bottom: 20px;
			}
		}
		height: 200%;
	}
	.box {
		.red-social {
			text-align: left;
			display: flex;
		}
		h2 {
			padding-bottom: 15px;
			color: #ffffff;
		}
	}
	.navbar {
		font-size: medium;
		text-align: center;
		button {
			justify-content: left;
			text-align: left;
			display: block;
		}
	}
	.resumen {
		iframe {
			justify-content: center;
			width: 100%;
			object-fit: cover;
		}
	}
	.logopit {
		min-width: 250px;
		text-align: left;
		display: grid;
		position: fixed;
	}
	.historia {
		img {
			width: 100%;
		}
	}
	.parrafo2 {
		img {
			width: 100%;
		}
	}
	.alimentacion {
		img {
			width: 100%;
		}
	}
	.alimentacion2 {
		img {
			width: 100%;
		}
	}
	footer {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		height: max-content;
		width: 100%;
		height: 100%;
	}
	.red-social {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.grupo-2 {
		padding-top: 50px;
	}
}

  



 

  