.razas {
	article {
		text-align: center;
		font-size: medium;
		font-style: italic;
		padding-top: 25px;
		color: black;
	}
	h2 {
		text-align: center;
		text-decoration: none;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-size: larger;
		border: solid;
		background-color: #cf8b24e8;
		color: #181511;
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
.title {
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(26, 23, 21);
  }
p {
	&::first-letter {
		font-size: 140%;
		color: rgba(163, 65, 0, 0.952);
	}
}
.figure-caption {
	color: #000000;
}
.contenedor {
	padding-top: 25px;
	p {
		color: #080707;
		font-size: medium;
		font-family: Georgia, 'Times New Roman', Times, serif;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 25px;
	}
}
