body {
	background-color: rgba(210, 180, 140, 0);
	color: black;
}
.logo_encabezado {
	padding: bottom 40px;
	display: inline;
}
.fotofoto {
	text-align: center;
	justify-content: center;
	width: 500px;
	height: 500px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.figure1 {
	img {
		width: 60%;
		height: 60%;
	}
}
.informacion {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	h1 {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
}
  
.informacion__titulo {
	text-align: center;
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.informacion__info{
  @extend .informacion;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	h1 {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
}

.informacion__info2{
  @extend .informacion;
  text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	h1 {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
}